body {
    background-image: linear-gradient(rgb(255, 225, 179), rgb(255, 238, 199));
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul .outer{
  position: absolute;
  bottom: 20px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  width: 100%;
  list-style-type:none;
}

button {
    border-radius: 30px;
}
.title {
    top: 0px;
    height: 100px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    text-align: center;
    border-top: #BBBBBB 3px;
    border-bottom: #BBBBBB 3px;
}
.title .div{
    top: 50%;
}
.content {
    margin-top: 100px;
}

.entry {
    background-color: #ccc;
    width: 100%
}
#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

ul {
    list-style-type:none;
}

.scroller {
    width: 50%;
    left: 0px;
    height: 100%;
    /* overflow-x: scroll; */
    /* scrollbar-color: rebeccapurple green;
    scrollbar-width: thin; */
  }
.entry img {
    width: 50px;
    height: 50px;
}

.card_item {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 10px;
  }

  .card__tag {
    font-size: .75rem;
    padding: .1rem .5rem;
    border-radius: .25rem;
    font-weight: 700;
    color: white;
    margin-bottom: .75rem;
    display: inline-block;
  }

  .card__tag--browser {
    background-color: #e0b977;
  }

  .entry_pic {
    width: 50px;
    height: 50px;
    border-radius: 30px;
  }

.card .more-info {
    width: 300px;
    float: right;
    position: absolute;
    right: 50px;
    height: 100%;
}

.card_list>li {
    font-size: .75rem;
    padding: .1rem .5rem;
    border-radius: .25rem;
    font-weight: 700;
    background-color: #4eb5ff;
    color: rgb(0, 0, 0);
    margin-bottom: .75rem;
    display: inline-block;
}

  .filter {
    float: right;
    top: 200px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
  }

  .main {
    align-items: center;
    align-content: center;
  }

  .location-text {
    font-size: 10px;
  }
  
  .name {
    font-size: 20px;
  }

.title,a{
    padding: 20px;
}

.login-container{
    top: 50%;
    text-align: center;
}